### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 =  'This is a test of the emergency text system'

fname = open('test.txt','w')
fname.write(test1)
fname.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt','r') as filename:
    test2 = filename.read()
print (test2) # no difference

This is a test of the emergency text system

### 3. Create a CSV file called books.csv by using these lines:
#### title,author,year
#### The Weirdstone of Brisingamen,Alan Garner,1960
#### Perdido Street Station,China Miéville,2000
#### Thud!,Terry Pratchett,2005
#### The Spellman Files,Lisa Lutz,2007
#### Small Gods,Terry Pratchett,1992

In [3]:
text = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""

with open('books.csv','w') as fout:
    fout.write(text)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

db = sqlite3.connect('books.db')
cun = db.cursor()
cun.execute("CREATE TABLE book ( title text, author text, year int)")
db.commit()

### 5. Read books.csv and insert its data into the book table.

In [5]:
import csv
import sqlite3
db = sqlite3.connect('books.db')
cur = db.cursor()
with open('books.csv','r') as fin:
    books = csv.reader(fin, delimiter=',')
    next(books, None)  # skip the headers
    for b in books:
        cur.execute('INSERT INTO book values (?,?,?)', b)
db.commit()

### 6. Select and print the title column from the book table in alphabetical order.

In [6]:
sql = 'SELECT title FROM book ORDER BY title asc'

for row in db.execute(sql):
    print (row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### 7. From the book table, select and print all columns in the order of publication.

In [7]:
sql = 'SELECT * FROM book ORDER BY year asc'

for row in db.execute(sql):
    print (row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
import sqlalchemy

db = sqlalchemy.create_engine('sqlite:///books.db',echo=True)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [9]:
import redis

con = redis.Redis('localhost')
red_hash = {'count' : 1, 'name' : 'Fester Bestertester'}
con.hset('test', mapping = red_hash)

0

In [10]:
con.hgetall('test') # print all

{b'count': b'1', b'name': b'Fester Bestertester'}

### 10. Increment the count field of test and print it.

In [11]:
con.hincrby('test','count',3) #increment

4

In [12]:
con.hget('test','count') #print

b'4'