### 1. What exactly is []?

Ans: [] is an empty list

### 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as thethird value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [3]:
spam = [2,4,6,8,10]
spam[2] = 'hello' # here spam[2] means third position
spam

[2, 4, 'hello', 8, 10]

Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries.

### 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [5]:
spam = ['a','b','c','d']
spam[int(int('3' * 2) / 11)] # int(int('3' * 2) / 11) = 3 so spam[3] = d

'd'

### 4. What is the value of spam[-1]?

In [8]:
spam[-1] # -1 denotes last index of a list

'd'

### 5. What is the value of spam[:2]?

In [10]:
spam[:2] # [:2] means select all values till second position of the list

['a', 'b']

Let&#39;s pretend bacon has the list [3.14,'cat', 11, 'cat', True] for the next three questions.

### 6. What is the value of bacon.index(&#39;cat&#39;)?

### 7. How does bacon.append(99) change the look of the list value in bacon?

### 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [12]:
bacon = [3.14,'cat', 11, 'cat', True]
bacon.index('cat')  # index function returns the first occuring element in the list

1

In [13]:
bacon.append(99) # integer 99 is added at the end of the list
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [14]:
bacon.remove('cat') # removes the first occuring element in a list
bacon

[3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?

Ans. '+' operator is used for list concatenation and '=' operator is used for list replication. Example:

In [15]:
# list concatenation
list1 = ['a',2,'b',3]
list2 = ['c',4,'d',5]
list1+list2

['a', 2, 'b', 3, 'c', 4, 'd', 5]

In [17]:
# list replication
list1 = ['a',2,'b',3]
list2 = list1
list2

['a', 2, 'b', 3]

### 10. What is difference between the list methods append() and insert()?

Ans. append() is used to insert/add an element at the end of the list

insert() operator can be used to insert an element to a specified position.

Example:

In [18]:
list1 = [1,2,3,4]
# append() operation
list1.append(99)
list1

[1, 2, 3, 4, 99]

In [19]:
# insert operation
list1.insert(3,'hello') # 3 is the index position
list1

[1, 2, 3, 'hello', 4, 99]

### 11. What are the two methods for removing items from a list?

Ans: Two methods are pop() and remove()

pop takes index position as argument

remove takes the value as argument.

Example:

In [21]:
# pop()
list1 = [1,2,3,4,5]
list1.pop(2) # this will remove the value 3 which is at 2 index position
list1

[1, 2, 4, 5]

In [22]:
list1 = [1,2,3,'hello',4,5]
list1.remove(2) # this will remove the value 2
list1

[1, 3, 'hello', 4, 5]

### 12. Describe how list values and string values are identical.

Ans: list is an ordered collection of values which can be string, integer, float, even a list any other data types whereas 

string is an ordered collection of just characters.

### 13. What's the difference between tuples and lists?

Ans: Tuples are immutable means once assigned, the values cannot be changed in a tuple

Lists are mutable means we can add,remove elements in a list

### 14. How do you type a tuple value that only contains the integer 42?

In [23]:
(42,)

(42,)

### 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans: we can use tuple() method to get list value's tuple form and use list() method to get tuple values list form.

Example:

In [24]:
tuple([1,2,3]) # here [1,2,3] is a list

(1, 2, 3)

In [26]:
list((1,2,3)) # here (1,2,3) is a tuple

[1, 2, 3]

### 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans: Variables with integer or string values contain the values whereas assigning data types like tuple, list and dictionaries in a variable will only contain the referance of the data type.

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans: copy.copy() creates a new object which stores the referance to the actual element. So changing the original changes the copied object as well.

in copy.deepcopy() a new object is created and copies of the original is inserted into the object. So changing the original won't affect the new object created through deepcopy.