#### Q-15. Write an SQL query to fetch intersecting records of two tables.

Ans.

(SELECT * FROM Table_1) 

INTERSECT 

(SELECT * FROM Table_2);


#### Q-16. Write an SQL query to show records from one table that another table does not have.

Ans. 

SELECT * FROM Table_1 

MINUS 

SELECT * FROM Table_2;