#### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

Ans. 

Select substring(FIRST_NAME,1,3) from Worker;

#### Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

Ans. 

Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';

or,

SELECT POSITION("a" IN first_name) FROM Worker WHERE first_name = "Amitabh";

#### Q-3. Write an SQL query to print the name of employees having the highest salary in each department.
 
Ans.

SELECT w.DEPARTMENT,w.FIRST_NAME,w.Salary from(SELECT max(Salary) as Max_
Salary,DEPARTMENT from Worker group by DEPARTMENT) as Temp_Salary 

Inner Join Worker w on Temp_Salary.DEPARTMENT=w.DEPARTMENT and Temp_Salary. Max_Salary=w.Salary;