#### Q-13. Write an SQL query to show only odd rows from a table.

Ans. 

SELECT * FROM SomeTable WHERE MOD(COLUMN_ID, 2) = 1;

#### Q-14. Write an SQL query to clone a new table from another table.

Ans.

CREATE TABLE DupWorker LIKE Worker;

INSERT INTO DupWorker SELECT * FROM Worker;