#### Q-17.  Write an SQL query to show the top n (say 10) records of a table.

Ans.

In [ ]:
# for MySQL

SELECT * FROM Table_1 ORDER BY Column_1 DESC LIMIT 10;

# SQL Server

SELECT TOP 10 * FROM Table_1 ORDER BY Column_1 DESC;

#### Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
# For MySQl

SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT 4,1;